{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            MShare | {{title}}
        {% else %}
            Music-SharingApp
        {% endif %}
    </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'music-app/index.css' %}">
    <link rel="stylesheet" href="{% static 'music-app/music_playlist.css' %}">
    <link rel="shortcut icon" href="{% static 'music-app/favicon.png'%}" type="image/x-icon">
    {% block extrahead %}
    {% endblock %}
</head>
<body onload="myFunction()">
    <div class="container">
        <div class="header" id="header">
            <div class="header-logo">
                <span id="logo"><a href="{%url 'HomePage' %}" id="logo" ><i style="font-size: 25px;" class="fa fa-music"></i> MShare</a></span>
            </div>
            <div class="header-links">
                <ul>

                    <li><a href="{%url 'HomePage' %}" class="link">Home</a></li>
                    <li><a href="{%url 'AboutPage' %}" class="link">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{%url 'UploadMusic' %}" class="link">UploadMusic</a></li>    
                    <li><a href="{%url 'Logout' %}" class="link">Logout</a></li>    
                    <li><a  href="{% url 'Account' %}" class="link">Account</a></li> 
                    {% else %}
                        <li><a href="{%url 'Login' %}" class="link">Login</a></li>
                        <li><a href="{% url 'Register' %}" class="link">Register</a></li> 
                    {% endif %}
                    <li><a href="{% url 'admin:index' %}" class="link">Admin</a></li> 

                </ul>
            </div>
            <div class="menu-bar-icon"><i class="fa fa-bars"></i></div>
        </div>
        <div class="main" id="main">
            {% if messages %}
                {% for message in messages %}
                <div class="message-alert alert-{{message.tags}}">
                    <p class="message-text">
                        {{message}}
                    </p>
                    <span class="closelogo" id="closelogo">&#x2716;</span>
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}
                
            {% endblock %}
        </div>
        <div class="footer" id="footer">
            <div class="footer-links">
                <ul>
                    <li><a href="#f">f</a></li>
                    <li><a href="#f">t</a></li>
                    <li><a href="#f">a</a></li>
                    <li><a href="#f">w</a></li>

                </ul>
            </div>
            <p>copyright &#169; 2023 mahantesh K T </p>
        </div>
    </div>
    <!-- <script src="{% static 'index.js' %}" type="javascript"></script> -->

    {% block extra_js_top %}

    {% endblock %}
    <script>
        function myFunction(){
           console.log("hello world")
        }
        
        console.log("hello world")
        const funVisbility=(e)=>{
        let allowed_emails=document.querySelector(".access-emails");
        let Visbility=document.getElementById("visibility").value;
        console.log("protected",Visbility)
            if(Visbility == "protected"){
                console.log("protected",Visbility)
                allowed_emails.style.visibility=`visible`;
            }
            else{
                allowed_emails.style.visibility=`hidden`;

            }
        }


        // Messages close

        const closelogo=document.querySelector("#closelogo");
        const message=document.querySelector(".message-alert");

        if(closelogo){
            closelogo.addEventListener("click",function msgclose(){
            message.style.display="none";
            console.log("message close");
        });
        }
        

        var a=setTimeout(function msgclose(){
            if(message){
                message.style.display="none";
                message.style.transition=`0.5s`;
            }
            clearTimeout(a);
        },4000);




        // NAVBAR 
        var menubaricon=document.querySelector(".menu-bar-icon");
        menubaricon.onclick=function(){
            navLinks=document.querySelector(".header-links");
            navLinks.classList.toggle("active")
            console.log('clicked')
        }

        var count=0;
        var audio=document.getElementById('audio')
        var audioPlayerPause=document.getElementById('audioPlayPause')
        var audioStop=document.getElementById('audioStop');

        if(audioPlayerPause){
            audioPlayerPause.addEventListener('click',function(){
            if(count==0){
                count=1;
                if(count==1){
                    audio.play();
                }
                
                console.log("count",count)
                audioPlayerPause.innerHTML="<i class='fa fa-pause'></i>";


                
                var audioList=document.querySelectorAll('.aTrigger');
                audioList.forEach(function(audioSingle,index){
                    var dataActive=audioSingle.getAttribute('data-active');
                    if(dataActive == "pause"){
                        audioSingle.setAttribute('data-active','active');

                    }
                })

            }else{
                count=0;
                if(count==0){
                    audio.pause();
                }
                
                audioPlayerPause.innerHTML="<i class='fa fa-play'></i>";

                var audioList=document.querySelectorAll('.aTrigger');
                audioList.forEach(function(audioSingle,index){
                    var dataActive=audioSingle.getAttribute('data-active');
                    if(dataActive == "active"){
                        audioSingle.setAttribute('data-active','pause');
                    }
                })
            }
        })
        }
        

        if(audioStop){
            audioStop.addEventListener('click',function(){
            count=0;
            audio.pause()
            audio.currentTime=0;
            audioPlayerPause.innerHTML="<i class='fa fa-pause'></i>";
            audioPlayerPause.className="";
            audioStop.className="";
            document.getElementById('audioTitle').innerHTML="&nbsp;"
            document.getElementById('audioVisibility').innerHTML="visible"
            duration.innerHTML="0:00"
            var audioList=document.querySelectorAll('.aTrigger');
                audioList.forEach(function(audioSingle,index){
                    var dataActive=audioSingle.getAttribute('data-active');
                    if(dataActive == "active" || dataActive == "pause" ){
                        audioSingle.setAttribute('data-active','');
                    }
                })

        })
        }
        

        var audioList=document.querySelectorAll('.aTrigger');
        var playbtn=document.querySelectorAll(".play-btn");
        var isplaying=false;
        audioList.forEach(function(audioSingle,index){
            var dataAudioName= audioSingle.getAttribute("data-audio")
            var Each=audioSingle.childNodes[1].childNodes[1].childNodes;
            var playicon=audioSingle.childNodes[1].childNodes[3]
            // console.log(playicon)
            playicon.innerHTML="<i class='fa fa-play'></i>"
            audioSingle.addEventListener('click',function(index){
                thisisAudioSingle=this;
                audioPlayerPause.className="active";
                audioStop.className="active";
                var dataAudio=this.getAttribute('data-audio')
                var dataActive=this.getAttribute('data-active')
                var audioSource=document.getElementById('audioSource')

                audioSource.src=dataAudio;
                document.getElementById("audioTitle").innerHTML=Each[1].innerHTML;
                document.getElementById("audioVisibility").innerHTML=Each[5].childNodes[3].innerHTML;
                playicon.innerHTML="<i class='fa fa-pause'></i>"
                for(let i=0;i<audioList.length;i++){
                    
                    playbtn[i].innerHTML="<i class='fa fa-play'></i>";
                    audioList[i].setAttribute("data-active","");
                    playicon.innerHTML="<i class='fa fa-play'></i>"
                }
                if(dataActive ==""){
                    count=1;
                    if(!isplaying){
                        audio.load();
                        setTimeout(function(){
                            audio.play().catch(function (error) {
                            console.log("Error playing audio:", error);
                            });
                        },0);
                        
                    }
                    
                    
                    this.setAttribute("data-active","active");
                    audioPlayerPause.innerHTML="<i class='fa fa-pause'></i>"
                    playicon.innerHTML="<i class='fa fa-pause'></i>"
                }
                else if(dataActive == "pause"){
                    count=1;
                    audio.play().catch(function (error) {
                        console.log("Error playing audio:", error);
                    });
                    
                    this.setAttribute("data-active","active");
                    audioPlayerPause.innerHTML="<i class='fa fa-pause'></i>"
                    playicon.innerHTML="<i class='fa fa-pause'></i>"

                }
                else{
                    count=0;
                    
                    audio.pause();
                    isplaying=false
                    this.setAttribute("data-active","pause");
                    audioPlayerPause.innerHTML="<i class='fa fa-play'></i>"
                    playicon.innerHTML="<i class='fa fa-play'></i>"
                }

                var duration =document.getElementById('duration');
                setTimeout(function(){
                    var s=parseInt(audio.duration % 60);
                    var m=parseInt((audio.duration / 60)%60);
                    duration.innerHTML=m +":"+ s;
                    audio.addEventListener("timeupdate",function(){
                        var durationUpdate=document.getElementById("durationUpdate");
                        var s=parseInt(audio.currentTime % 60);
                        var m=parseInt((audio.currentTime / 60)%60);
                        durationUpdate.innerHTML=m+":"+s;
                        if(duration.textContent == durationUpdate.textContent){
                            audioPlayerPause.innerHTML="<i class='fa fa-play'></i>"
                            playicon.innerHTML="<i class='fa fa-play'></i>"
                            thisisAudioSingle.setAttribute("data-active","pause");
                            count=0;
                        }
                    },false)

                },200)

            })
        })





    </script>
    

</body>
</html>